.img-thumbnail {
    margin: 1em;
    width: auto;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    border-top: none;
}

.btn-messages {
    color: black;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
