.app-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    
    .top-nav {
        flex-direction: row;
    }

    @media (max-width: 765px) {
        .main {
            margin-top: 150px;
        }
    }

    .main {
        padding-top: 65px;
        
        .list-container {
            border: solid black 1px;
        }

        
    }
}


